In [6]:
import import_ipynb
import data_preproc as dp
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from numpy import loadtxt
from sklearn.decomposition import PCA

importing Jupyter notebook from data_preproc.ipynb
Ayoola

In [7]:
print("Hello \n Welcome to our Data Preprocessing Platform. \n \n ")
print("Select the data to process.")
print("Enter: \n \t 1 for BATADAL Dataset \n \t 2", 
      "for WADI Dataset \n \t 3 for SWAT_2015 Dataset", 
      "\n \t 4 for SWAT_2019 Dataset\n")

choice = int(input(": "))

if choice == 1:
    
    #path to  BATADAL Dataset
    pathtoData = ['Dataset/ICS/BATADAL/Physical_BATADAL.npy','BATADAL']

    #path to BATADAL Column Names
    columnData = "Dataset/ICS/BATADAL/Column Names.txt"
    targetName = 'ATT_FLAG'

elif choice == 2:
    
    #path to WADI Dataset 
    pathtoData = ['Dataset/ICS/WADI/Physical_WADI.npy','WADI']

    #path to WADI Column Names
    columnData = "Dataset/ICS/WADI/Column Names.txt"
    targetName = 'TOTAL_CONS_REQUIRED_FLOW'
    
elif choice == 3:
    #path to SWAT_2015 Dataset
    pathtoData = ['Dataset/SWAT/SWAT_2015/Physical_SWAT_2015.npy','Physical_SWAT_2015']

    #path to SWAT_2015 Column Names
    columnData = "Dataset/SWAT/SWAT_2015/Column Names.txt"
    targetName = 'Normal/Attack'
    
elif choice == 4: 
    #path to SWAT_2019 Dataset
    pathtoData = ['Dataset/SWAT/SWAT_2019/Physical_SWAT_2019.npy','Physical_SWAT_2019']

    #path to SWAT_2019 Column Names
    columnData = "Dataset/SWAT/SWAT_2019/Columns Name.txt"
    targetName = 'P603 Status'
    
else:
    print("Invalid Data Selection")

Hello
 Welcome to our Data Preprocessing Platform.


Select the data to process.
Enter:
 	 1 for BATADAL Dataset
 	 2 for WADI Dataset
 	 3 for SWAT_2015 Dataset
 	 4 for SWAT_2019 Dataset

: 3

In [8]:
pathtoData[0]

'Dataset/SWAT/SWAT_2015/Physical_SWAT_2015.npy'

In [ ]:
#load dataset
loaded_Data = dp.getdata(pathtoData[1],pathtoData[0])

#checks the number of datapoint and features+target
loaded_Data.shape

Dataset  Physical_SWAT_2015  Loaded

(1441716, 52)

In [10]:
#coverts the dataset features array to a dataframe and preview
df = dp.dataframeConvertion(loaded_Data,columnData)
df.sample(5)

,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,MV201,...,P501,P502,PIT501,PIT502,PIT503,FIT601,P601,P602,P603,Normal/Attack
1106341,24/12/2015 12:50:25 PM,0.000000,666.3156,1.0,2.0,1.0,268.2646,8.351897,339.4258,2.461667,...,0.308362,2.0,1.0,256.9213,1.489764,195.3826,0.000128,1.0,1.0,Normal
700394,25/12/2015 1:34:37 PM,2.654133,525.3982,2.0,2.0,1.0,266.1818,8.358306,326.2497,2.455515,...,0.308619,2.0,1.0,250.8011,1.185403,190.2076,0.000000,1.0,1.0,Normal
1366454,27/12/2015 1:05:38 PM,2.497838,536.5067,2.0,2.0,1.0,266.1818,8.364715,327.1469,2.427835,...,0.306569,2.0,1.0,248.2216,1.025214,187.5320,0.000000,1.0,1.0,Normal
131839,29/12/2015 10:37:20 PM,2.503923,560.8826,2.0,1.0,1.0,239.4258,8.505704,319.5591,0.000000,...,0.306569,2.0,1.0,249.9039,0.961138,188.5254,0.000000,1.0,1.0,Normal
1339160,27/12/2015 5:30:44 AM,2.444992,495.2520,2.0,2.0,1.0,266.2458,8.378813,330.2999,2.444366,...,0.308298,2.0,1.0,250.9613,1.041233,189.7270,0.000000,1.0,1.0,Normal

In [ ]:
#Data preprocessing
df= dp.InActprocessing(df)
target = df [[targetName]]
df.sample(5)

In [ ]:
#Use PCA to get the best 10 features from the SWAT_2015
df_processed = dp.get_PCA(df)
df_processed = pd.DataFrame(df_processed)

In [ ]:
#Add the target and move it to the front of the dataset as 
#per the requirement of the fair_clustering algorithm used
#df_processed = df
df_processed = pd.concat([df_processed,target], axis = 1)
df_processed = dp.addTarget(df_processed)

#remove index
df_processed.reset_index(inplace=True)
df_processed.drop("index",axis=1,inplace=True)

#convert file to csv
df_processed.to_csv(pathtoData[1], sep=',', index=False)

print(pathtoData[1], "exported to csv successfully")